
/* declarando variáveis */
:root{
  --vermelho: #e50914;
  --preta:#141414;
}
body{
  /* utilizando variável */
  background: var(--preta);
  /* procura fonte original */
  font-family: 'Times New Roman', Times, serif;
  color:#fff
}

/*flexbox: os itens dentro do container ficam lina */
header .container {
    display: flex;
  /* opção padrão */
  flex-direction: row;
  align-items: center;
  /* coloca um espaço entre os filhos */
  justify-content: space-between;
}

header .logo{
  margin-left: 10px;
  color:#e50914;
  font-family: 'Arial Black';
  font-size: 40px;

}
/* removendo underline no link de navbar */
header nav a{
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}
header nav a:hover{
  color:#fff
}

/* Filme principal */
.filme-principal{
  font-size: 20px;
  /* escurece a imagem com efeito gradiente */
  background:linear-gradient(rgba(0, 0, 0, .5), rgba(0,0,0,.5)100%), url('../img/capa-house.jpg');
  height: 700px;
  background-size:cover ;
  display: flex;
  
  flex-direction: column;
  /* justify-content segue a direção do flex-direction*/
  justify-content: center;
  align-items: flex-start;
}

.filme-principal .descricao{
  margin-bottom: 100px;
}

.titulo{
  font-size: 40px;
  margin-bottom: 10px;
}